.jumbotron {
  background-image: url("newspaper.jpg");
  width: 70%;
  
}

h1 {
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 3px gray;
  font-size: 50px;
  text-transform: capitalize;
}

#comment-space {
  position: absolute;
  float: right;
  width: 30%;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: rgb(214, 252, 199);
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}